<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.roomresv.RoomResvMapper">
	<select id="room_resv" resultType="kr.co.hotel.room.RoomVO">
		select * from room;
	</select>
	
	<select id="room_resvnext" resultType="kr.co.hotel.room.RoomVO">
		select * from room where rcode=#{param1}
	</select>
</mapper>