<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.roomresv.RoomResvMapper">
	<select id="room_resv" resultType="kr.co.hotel.room.RoomVO">
		select * from room order by rname desc;
	</select>
	
	<select id="room_resvnext" resultType="kr.co.hotel.room.RoomVO">
		select * from room where rcode=#{param1}
	</select>
	
	<insert id="room_resv_ok" parameterType="kr.co.hotel.roomresv.RoomResvVO">
		insert into roombk(checkin,checkout,userid,rcode,binwon,bextbed,bmeal,btotal,bstate,bid,bkdate,bkname,bkphone,spreq)
		values(#{checkin},#{checkout},#{userid},#{rcode},#{binwon},#{bextbed},#{bmeal},#{btotal},1,#{bid},now(),#{bkname},#{bkphone},#{spreq})
	</insert>
	
	<select id="getBid" resultType="Integer">
		select ifnull(max(right(bid,4)),0) from roombk
	</select>

	<select id="getRoomAvail" resultType="kr.co.hotel.room.RoomVO">
	<![CDATA[ select rcode,count(*) as cnt from roombk where #{param1}>=checkin and checkout>#{param1} group by rcode]]>
	</select>  
	
	<select id="room_bkconfirm" resultType="kr.co.hotel.roomresv.RoomResvVO">
		select * from roombk where bid=#{param1}
	</select>
	
	<select id="getRmax" resultType="kr.co.hotel.room.RoomVO">
		select rmax from room where rcode=#{param1}
	</select>
	
	
	<!-- <select id="getCnt" resultType="kr.co.hotel.room.RoomVO">
	<![CDATA[ select rcode,count(*) as cnt from roombk where #{param1}>=checkin and checkout>#{param1} group by rcode]]>	
	</select>
 -->
	
	
	
	
	
	
	
	
	
	
</mapper>