<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.weddingresv.WeddingResvMapper">
	
	<select id="gettime" resultType="kr.co.hotel.weddingresv.WeddingResvTimeVO">
		select * from weddingtime order by wt_id asc
	</select>
	
	<select id="gethall_name" resultType="kr.co.hotel.weddingresv.WeddingResvTimeVO">
		select wed_hall from wedding order by id asc
	</select>

	
	<insert id="weddingReserve_ok" parameterType="kr.co.hotel.weddingresv.WeddingResvVO">
		insert into weddingresv(wresv_wday)
  		values(#{param1})
  		<!-- userid  추가 

wresv_cday, wresv_wday,  wresv_id, wresv_day
#{wresv_cday}, #{wresv_wday}, #{wresv_id}, now()
-->
	</insert>
</mapper>