<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.mypage.MyPageMapper">
	
	<select id="myprofile_pwd_ok" resultType="Integer">
		select count(*) as cnt from member where userid=#{param1} and pwd=#{param2}
	</select>

	<select id="myprofile" resultType="kr.co.hotel.member.MemberVO">
		select * from member where userid=#{param1}
	</select>
	
	<update id="myprofile_edit_ok">
		update member set phone=#{phone}, birth=#{birth}, email=#{email}, zip=#{zip}, juso=#{juso}, juso_etc=#{juso_etc} where userid=#{userid}
	</update>
	
<!-- 	<select id="getPwd" resultType="String">
  		select pwd from member where userid=#{param1}
  	</select> -->
  	
	<update id="mypwd_change_ok">
		update member set pwd=#{param1} where userid=#{param2}
	</update>
	
	<select id="getRoomcount" resultType="Integer">
  		select count(*) as cnt from roombk where checkin like concat('%',#{param},'%')
  	</select>
  	
  	<select id="getDinecount" resultType="Integer">
  		select count(*) as cnt from diningresv where dr_date like concat('%',#{param},'%')
  	</select>
  	
  	<select id="getEshopcount" resultType="Integer">
  		select count(*) as cnt from gumae where buyday like concat('%',#{param},'%')
  	</select>
  	
 <!--  	<select id="wedding_resv" resultType="kr.co.hotel.wedding.WeddingResvVO">
  		select * from weddingresv where userid=#{param1} order by wresv_id desc
  	</select> -->
  	
  	<select id="getWeddingChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from weddingresv where userid=#{param2}
	</select>

  	<select id="wedding_resv" resultType="kr.co.hotel.wedding.WeddingResvVO">
  		select * from weddingresv where userid=#{param1} order by wresv_id desc limit #{param2},#{param3}
  	</select>
	
  	<select id="wedding_resv_search" resultType="kr.co.hotel.wedding.WeddingResvVO">
  		<![CDATA[select * from weddingresv where userid=#{param1} and #{param2}<= wresv_day and wresv_day <=#{param3} order by wresv_id desc]]>
  	</select>
  	
  	<update id="weddingR_state_change">
  		update weddingresv set state=#{param2} where wresv_id=#{param1}
  	</update>
  	
  	<update id="Wstate_complete_change">
  		 <![CDATA[update weddingresv set state=2 where wresv_cday <= #{param1} and state=0]]>
  	</update>
  	
  	<update id="Rstate_complete_change">
  		 <![CDATA[update roombk set bstate=2 where checkout <= #{param1} and bstate=1]]>
  	</update>
  		
  	<update id="Dstate_complete_change">
  		 <![CDATA[update diningresv set dr_state=1 where dr_date <= #{param1} and dr_state=0]]>
  	</update>
  	
  	<select id="roomR_Recent" resultType="kr.co.hotel.roomresv.RoomResvVO">
  		select bk.*, r.rname from roombk bk, room r where bk.rcode=r.rcode and userid=#{param1} order by id desc limit 3
  	</select> 
 	
   	<select id="dineR_Recent" resultType="kr.co.hotel.diningresv.DiningResvVO">
  		select * from diningresv where userid=#{param1} order by dr_id desc limit 3
  	</select>
  	
   	<select id="weddingR_Recent" resultType="kr.co.hotel.wedding.WeddingResvVO">
  		select * from weddingresv where userid=#{param1} order by wresv_id desc limit 3
  	</select>
  	
   	<select id="eshopG_Recent" resultType="kr.co.hotel.eshop.GumaeVO">
  		select g.*, p.title from gumae g, product p where g.pcode=p.pcode and userid=#{param1} order by id desc limit 3
  	</select>


  	<select id="getDineChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from diningresv where userid=#{param2}
	</select>

  	<select id="dine_resv" resultType="kr.co.hotel.diningresv.DiningResvVO">
  		select * from diningresv where userid=#{param1} order by dr_id desc limit #{param2},#{param3}
  	</select>
	
  	<select id="dine_resv_search" resultType="kr.co.hotel.diningresv.DiningResvVO">
  		<![CDATA[select * from diningresv where userid=#{param1} and #{param2}<= writeday and writeday <=#{param3} order by dr_id desc]]>
  	</select>
	
  	<update id="dineR_state_change">
  		update diningresv set dr_state=#{param2} where dr_id=#{param1}
  	</update>


  	<select id="getEshopGChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from gumae where userid=#{param2}
	</select>

  	<select id="eshop_gumae" resultType="kr.co.hotel.eshop.GumaeVO">
  		select g.*, p.title, count(*) as cnt from gumae g, product p where g.pcode=p.pcode and userid=#{param1} group by g.jumuncode order by id desc limit #{param2},#{param3}
  	</select>
  	
  	<select id="eshop_gumae_search" resultType="kr.co.hotel.eshop.GumaeVO">
  		<![CDATA[select g.*, p.title, count(*) as cnt from gumae g, product p where g.pcode=p.pcode and userid=#{param1} and #{param2}<= g.buyday and g.buyday <=#{param3} group by g.jumuncode order by id desc]]>
  	</select>
  	
  	<update id="eshopG_state_change">
  		update gumae set state=#{param2} where jumuncode=#{param1}
  	</update>

  	
  	<select id="getroomChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from roombk where userid=#{param2}
	</select>

  	<select id="room_resv" resultType="kr.co.hotel.roomresv.RoomResvVO">
  		select bk.*, r.rname from roombk bk, room r where bk.rcode=r.rcode and userid=#{param1} order by id desc limit #{param2},#{param3}
  	</select>
  	
  	<select id="room_resv_search" resultType="kr.co.hotel.roomresv.RoomResvVO">
  		<![CDATA[select bk.*, r.rname from roombk bk, room r where bk.rcode=r.rcode and #{param2}<= bkdate and bkdate <=#{param3} order by id desc]]>
  	</select>
  	
  	<update id="roomR_state_change">
  		update roombk set bstate=#{param2} where id=#{param1}
  	</update>
  	
  	<select id="wedding_content" resultType="kr.co.hotel.wedding.WeddingResvVO">
  		select * from weddingresv where userid=#{param1} and wresv_id=#{param2}
  	</select>
  	
  	<select id="dine_content" resultType="kr.co.hotel.diningresv.DiningResvVO">
  		select * from diningresv where userid=#{param1} and dr_id=#{param2}
  	</select>
  	
  	<select id="room_content" resultType="kr.co.hotel.roomresv.RoomResvVO">
  		select bk.*, r.rname from roombk bk, room r where bk.rcode=r.rcode and userid=#{param1} and bk.id=#{param2}
  	</select>
  	
  	<select id="eshop_content_list" resultType="kr.co.hotel.eshop.GumaeVO">
  		select g.*, p.title from gumae g, product p where g.pcode=p.pcode and userid=#{param1} and g.jumuncode=#{param2}
  	</select>
  	
  	<select id="eshop_content_info" resultType="kr.co.hotel.eshop.GumaeVO">
  		select g.*, p.title from gumae g, product p where g.pcode=p.pcode and userid=#{param1} and g.id=#{param2}
  	</select>
  	
  	
  	<select id="getRinfo" resultType="kr.co.hotel.roomresv.RoomResvVO">
		select rb.*, r.rname from roombk rb, room r where rb.rcode=r.rcode and rb.bid=#{param1}
	</select>
	<select id="getDinfo" resultType="kr.co.hotel.diningresv.DiningResvVO">
		select * from diningresv where bid=#{param1}
	</select>
	<select id="getWinfo" resultType="kr.co.hotel.wedding.WeddingResvVO">
		select * from weddingresv where wresv_code=#{param1}
	</select>
	<select id="getEinfo" resultType="kr.co.hotel.eshop.GumaeVO">
		select g.*, substr(p.fimg, 1, instr(p.fimg, ",")-1) as pimg, p.title
		from gumae g, product p
		where g.pcode=p.pcode and g.jumuncode=#{param1}
	</select>
	
	<delete id="chgRinfo">
		update roombk set bstate=3 where bid=#{param1}
	</delete>
	<delete id="chgDinfo">
		update diningresv set dr_state=2 where bid=#{param1}
	</delete>
	<delete id="chgWinfo">
		update weddingresv set state=1 where wresv_code=#{param1}
	</delete>
	<delete id="chgEinfo">
		update gumae set state=1 where jumuncode=#{param1}
	</delete>
	
</mapper>