<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.member.MemberMapper">
	<insert id="member_input_ok">
		insert into member(userid, name, pwd, zip, juso, juso_etc, phone, email, joinday, birth)
		values (#{userid},#{name},#{pwd},#{zip},#{juso},#{juso_etc},#{phone},#{email},now(),#{birth})
	</insert>
	
	<select id="userid_check" resultType="Integer">
		select count(*) as cnt from member where userid=#{param1}
	</select>
	
	<update id="member_out">
		update member set state=1 where userid=#{param1}
	</update>
</mapper>