<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.admin.AdminMapper">
	<select id="memberlist" resultType="kr.co.hotel.member.MemberVO">
		select * from member order by id desc
	</select>
	
	<select id="getroombk" resultType="kr.co.hotel.roomresv.RoomResvVO">
		select rb.*, r.rname, r.rcode 
		from roombk as rb, room as r 
		where rb.rcode=r.rcode
		order by checkin asc, bkdate asc
	</select>
	
	<select id="getdiningresv" resultType="kr.co.hotel.diningresv.DiningResvVO">
		select * from diningresv order by dr_id desc, dr_date asc
	</select>
	
	<select id="getweddingresv" resultType="kr.co.hotel.wedding.WeddingResvVO">
		select * from weddingresv order by wresv_id desc, wresv_cday asc
	</select>
	
	<!-- <select id="getgumae" resultType="kr.co.hotel.">
		select * from gumae order by id desc
	</select> -->
	
	<select id="getRChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from roombk where ${param2} like concat ('%',#{param3},'%')
	</select>

<!--  	<select id="roombk" resultType="kr.co.board_model3.vo.BoardVO">
		select*
		from roombk  ${param1} like concat('%',#{param2},'%') 
		order by id desc limit #{param3},#{param4}
	</select>  --> 
</mapper>