<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.admin.AdminMapper">
	<select id="memberlist" resultType="kr.co.hotel.member.MemberVO">
		select * from member order by id desc 
	</select>
	
<!-- admin첫 화면에서 최신 5개 예약 보이게 -->
	<select id="getroombk" resultType="kr.co.hotel.roomresv.RoomResvVO">
		select rb.*, r.rname, r.rcode 
		from roombk as rb, room as r 
		where rb.rcode=r.rcode
		order by id desc limit 5;
	</select> 
	
	<select id="getdiningresv" resultType="kr.co.hotel.diningresv.DiningResvVO">
		select * from diningresv order by dr_id desc, dr_date asc limit 5;
	</select>
	
	<select id="getweddingresv" resultType="kr.co.hotel.wedding.WeddingResvVO">
		select * from weddingresv order by wresv_id desc, wresv_cday asc limit 5;
	</select>
	
	<select id="getgumae" resultType="kr.co.hotel.eshop.GumaeVO">
		select g.*,p.title from gumae g, product p where g.pcode=p.pcode group by g.jumuncode order by id desc limit 5;
	</select> 
	
	
<!-- 회원목록 각각 페이지에서 보이게 -->
	<select id="rlist" resultType="kr.co.hotel.roomresv.RoomResvVO">
		select rb.*, r.rname, r.rcode 
		from roombk as rb, room as r 
		where ${param1} like concat('%',#{param2},'%') and rb.rcode=r.rcode
		order by ${param5} limit #{param3},#{param4}
	</select>
	<select id="getRChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from roombk where ${param2} like concat ('%',#{param3},'%') 
	</select>


	<select id="wlist" resultType="kr.co.hotel.wedding.WeddingResvVO">
		select * from weddingresv where ${param1} like concat('%',#{param2},'%') order by ${param5} limit #{param3},#{param4}
	</select>
	<select id="getWChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from weddingresv where ${param2} like concat('%',#{param3},'%')
	</select>
	
	
	<select id="dlist" resultType="kr.co.hotel.diningresv.DiningResvVO">
		select * from diningresv where dr_date between ${param6} and ${param7} and ${param1} like concat('%',#{param2},'%') order by ${param5} limit #{param3},#{param4}
	</select>
	<select id="getDChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from diningresv where ${param2} like concat('%',#{param3},'%')
	</select>
	
	
	<select id="glist" resultType="kr.co.hotel.eshop.GumaeVO">
		<!-- select * from gumae where ${param1} like concat('%',#{param2},'%') order by ${param5} limit #{param3},#{param4} -->
		select g.*,p.title from gumae g, product p where ${param1} like concat('%',#{param2},'%') and g.pcode=p.pcode group by g.jumuncode order by id desc limit #{param3},#{param4}
	</select>
	<select id="getGChong" resultType="Integer">
		select ceil(count(*)/#{param1}) from gumae where ${param2} like concat('%',#{param3},'%')
	</select>

<!-- 상태변경 -->	
	<update id="bstatechange">
		<![CDATA[update roombk set bstate=2 where checkin<=#{param1} and bstate=1]]>
	</update>
	<update id="wstatechange">
		<![CDATA[update weddingresv set state=2 where wresv_cday<=#{param1} and state=0]]>
	</update>
	<update id="dstatechange">
		<![CDATA[update diningresv set dr_state=1 where dr_date<=#{param1} and dr_state=0]]>
	</update>
	<update id="estatechange">
		<![CDATA[update gumae set state=#{param1} where id=#{param2}]]>
	</update>
	
<!-- 주문이 취소되면 product테이블의 [재고]와 [판매량]을 원래대로 -->
	<update id="suPlusMinus">
		update product set su=su+${param1}, sold=sold-${param1} where pcode=#{param2}
	</update>
	
<!-- 예약건당 상세 보기 -->
	<select id="roombkview" resultType="kr.co.hotel.roomresv.RoomResvVO">
		select r.rname, rb.* from room r, roombk rb where rb.id=#{param1} and r.rcode=rb.rcode;
	</select>
	
	<select id="wedbkview" resultType="kr.co.hotel.wedding.WeddingResvVO">
		select * from weddingresv where wresv_id=#{param1}
	</select>
	
	<select id="dinebkview" resultType="kr.co.hotel.diningresv.DiningResvVO">
		select * from diningresv where dr_id=#{param1}
	</select>
	
	<select id="gumaeview" resultType="kr.co.hotel.eshop.GumaeVO">
		select g.*, p.title from gumae g, product p where g.pcode=p.pcode and g.jumuncode=#{param1} and g.id=#{param2}
	</select>
	
	<select id="jumuns" resultType="kr.co.hotel.eshop.GumaeVO">
		select g.*, p.title from gumae g, product p where g.pcode=p.pcode and g.jumuncode=#{param1}
	</select>
	
	
	
	
	 
</mapper>