<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.eshop.EshopMapper">
	
	<select id="pro_write" resultType="kr.co.hotel.eshop.PdaeVO">
		select * from pdae order by code asc
	</select>
	
	<select id="getso" resultType="kr.co.hotel.eshop.PsoVO">
		select * from pso where daecode=#{param1}
	</select>
	
	<select id="getpcode" resultType="Integer">
		select ifnull(substring(max(pcode), 6, 4), 0)+1 from product where pcode like concat(#{param1}, '%')
	</select>
	
	<insert id="pro_write_ok" parameterType="kr.co.hotel.eshop.ProductVO">
		insert into product(pcode, title, fimg, simg, price, halin, juk, su, baefee)
		values(#{pcode}, #{title}, #{fimg}, #{simg}, #{price}, #{halin}, #{juk}, #{su}, #{baefee})
	</insert>
	
	<select id="pro_list" resultType="kr.co.hotel.eshop.ProductVO">
		select *, substr(fimg, 1, instr(fimg, ",")-1) as img,
		(select count(*) from wish where userid=#{param1} and pcode=product.pcode) as wishchk
		from product where pcode like concat(#{param2}, '%')
		order by ${param3} limit ${param4}, ${param5}
	</select>
	
	<select id="pro_list2" resultType="kr.co.hotel.eshop.ProductVO">
		select *, substr(fimg, 1, instr(fimg, ",")-1) as img
		from product where pcode like concat(#{param1}, '%')
		order by ${param2} limit ${param3}, ${param4}
	</select>
	
	<select id="total" resultType="Integer">
		select ceil(count(*)/${value}) from product
	</select>
	
	<select id="pro_content" resultType="kr.co.hotel.eshop.ProductVO">
		select *, substr(pcode, 1, 5) as subpcode, substr(fimg, 1, instr(fimg, ",")-1) as img
		from product where pcode=#{param1}
	</select>
	
	<insert id="wish_add">
		insert into wish(userid, pcode) values(#{param1}, #{param2})
	</insert>
	
	<delete id="wish_del">
		delete from wish where userid=#{param1} and pcode=#{param2}
	</delete>
	
	<select id="checkWish" resultType="Integer">
		select count(*) from wish where userid=#{param1} and pcode=#{param2}
	</select>
	
	<insert id="cart_add">
		insert into cart(userid, pcode, su)
		values(#{param1}, #{param2}, ${param3})
	</insert>
	
	<select id="checkCart" resultType="Integer">
		select count(*) from cart where userid=#{param1} and pcode=#{param2}
	</select>
	
	<update id="cart_suadd">
		update cart set su=su+${param1} where userid=#{param2} and pcode=#{param3}
	</update>
	
	<select id="cart" resultType="kr.co.hotel.eshop.CartVO">
		select c.*, substr(p.fimg, 1, instr(p.fimg, ",")-1) as fimg, p.title, p.price, p.halin, p.baefee, p.juk, p.su as psu
		from cart c, product p
		where c.pcode=p.pcode and userid=#{param1}
		order by c.inday desc
	</select>
	
	<delete id="cart_del">
		delete from cart where id=#{param1}
	</delete>
	
</mapper>