<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.diningresv.DiningResvMapper">
    
    <select id="dining_reserve" resultType="kr.co.hotel.dining.DiningVO">
	  <![CDATA[  select d.*, dr.dine_type, right(dr.dr_date,2) as td
	  from dining as d, diningresv as dr
	  where dr.dr_date>=#{param1} and dr.dr_date <= #{param2}
	  and d.dine_type=dr.dine_type order by id asc ]]>
	</select>                                      <!-- 며칠 -->
	
	<select id="dining_reserve_next" resultType="kr.co.hotel.diningresv.DiningResvVO">
	  select * from dining where id=#{param1}
	</select>
	
	<insert id="dining_reserve_ok" parameterType="kr.co.hotel.diningresv.DiningResvVO">
	   insert into diningresv
	   (dr_date,dr_extrarq,dr_state,dr_time,dr_total,dine_type,
	      bkname,userid,email,p1,p2,p3,writeday,adult,child,baby,bid)
	   values(#{dr_date},#{dr_extrarq},#{dr_state},#{dr_time},#{dr_total},#{dine_type},
	      #{bkname},#{userid},#{email},#{p1},#{p2},#{p3},now(),#{adult},#{child},#{baby},#{bid})
	</insert>

	<select id="getBid" resultType="Integer">
	  select ifnull(max(right(bid,4)),0) from diningresv
    </select>

	<select id="dining_reserve_check" resultType="kr.co.hotel.diningresv.DiningResvVO">
	  select * from diningresv where bid=#{param1}
	</select>
	
	<!-- <select id="getDineAvail" resultType="kr.co.hotel.dining.DiningVO">
	<![CDATA[ select dine_type,count(*) as cnt from diningresv where #{param1}>=dine_type group by dine_type]]>
	</select>  -->
	
	<!-- <select id="dining_reserve_next_old" resultType="kr.co.hotel.dining.DiningVO">
	  select * from dining where id=#{param1}
	</select> -->
	
<!-- 	<select id="getEmpty" resultType="Integer">
	select count(*) as cnt from dining where inday<=? and ?< outday and bang_id=?
	</select>
	 -->
</mapper>