<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.wedding.WeddingMapper">
	<insert id="wed_hall_write_ok" parameterType="kr.co.hotel.wedding.WeddingVO">
 		insert into wedding(wed_hall, wed_title, wed_min, wed_max, wed_txt, wed_txt2, wed_fname, wed_size, wed_food, wed_direct, wed_type, wed_price) 
 		values(#{wed_hall}, #{wed_title}, #{wed_min}, #{wed_max}, #{wed_txt}, #{wed_txt2},  #{wed_fname}, #{wed_size}, #{wed_food}, #{wed_direct}, #{wed_type}, #{wed_price})
  	</insert>
  	
	<select id="wedding_hall" resultType="kr.co.hotel.wedding.WeddingVO">
		select * from wedding where id=#{param1}
	</select>
	
	<select id="getHall" resultType="kr.co.hotel.wedding.WeddingVO">
  		select * from wedding order by id asc
  	</select>
  	
  	<select id="gettime" resultType="kr.co.hotel.wedding.WeddingResvTimeVO">
		select * from weddingtime order by wt_id asc
	</select>
	
	<select id="gethall_name" resultType="kr.co.hotel.wedding.WeddingResvVO">
		select wed_hall from wedding order by id asc
	</select>

<!-- 	<select id="getcheck" resultType="Integer">

		select count(*) as cnt from weddingresv where wresv_cday=#{wresv_cday} and wresv_time=#{wresv_time}
	
	</select>
	 -->
	<select id="getWresv_code" resultType="Integer">
		select ifnull(max(right(wresv_code,4)),0) from weddingresv
	</select>
	 
	 
	<insert id="weddingReserve_ok" parameterType="kr.co.hotel.wedding.WeddingResvVO">
		insert into weddingresv(wresv_content, wresv_day,wresv_cday, wresv_time,wresv_wday, wresv_hall, userid, wresv_name, wresv_phone, wresv_inwon, wresv_code, wresv_email, wresv_pay)
  		values(#{wresv_content}, now(), #{wresv_cday}, #{wresv_time}, #{wresv_wday}, #{wresv_hall}, #{userid}, #{wresv_name}, #{wresv_phone}, #{wresv_inwon}, #{wresv_code}, #{wresv_email}, #{wresv_pay})
	</insert>
	
 
	<select id="wresv_cal" resultType="kr.co.hotel.wedding.WeddingResvVO">
		select * from weddingresv where wresv_cday=#{wresv_cday} order by wresv_time asc
	</select>
	
	<select id="wresv_cal2" resultType="kr.co.hotel.wedding.WeddingResvTimeVO">
		 select * from weddingtime where wt_time not in (select wresv_time from weddingresv where wresv_cday=#{param1} order by wresv_time asc) 
	</select>

  	<select id="wed_resv_check" resultType="kr.co.hotel.wedding.WeddingResvVO">
  		select * from weddingresv where wresv_code=#{param}
  	</select>
  	
  	
  	
  	
  	
</mapper>