<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.wedding.WeddingMapper">
	<insert id="wed_hall_write_ok" parameterType="kr.co.hotel.wedding.WeddingVO">
 		insert into wedding(wed_hall, wed_title, wed_min, wed_max, wed_txt, wed_txt2, wed_fname, wed_size, wed_food, wed_direct, wed_type) 
 		values(#{wed_hall}, #{wed_title}, #{wed_min}, #{wed_max}, #{wed_txt}, #{wed_txt2},  #{wed_fname}, #{wed_size}, #{wed_food}, #{wed_direct}, #{wed_type})
  	</insert>
  	
	<select id="wedding_hall" resultType="kr.co.hotel.wedding.WeddingVO">
  		select * from wedding order by id desc
  	</select>

	<select id="content" resultType="kr.co.hotel.wedding.WeddingVO">
  		select * from wedding id=#{param1}
  	</select>

</mapper>