<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.hotel.room.RoomMapper">
	<select id="room_write" resultType="kr.co.hotel.room.RdaeVO">
		select * from rdae order by code asc;
	</select>

	<select id="getbunho" resultType="Integer">
		select ifnull(substring(max(rcode),5,3),"0") from room where rcode like concat(#{param1},'%')
	</select>
	
	<insert id="room_write_ok">
		insert into room(rname,rmin,rmax,rprice,rsu,rpimg,rcimg,rcode,rtxt2,rview,rbed,writeday)
		values(#{rname},#{rmin},#{rmax},#{rprice},#{rsu},#{rpimg},#{rcimg},#{rcode},#{rtxt2},#{rviewValue},#{rbed},now())
	</insert>
	
	<select id="rooms" resultType="kr.co.hotel.room.RoomVO">
		select r.*, rd.code, rd.rtype, rd.rtxt from room r inner join rdae rd on rd.code=substring(r.rcode,2,2) 
	<!-- 	where rcode='r01001' or rcode='r02001' or rcode='r03001' or rcode='r04001' -->
	</select>

	<select id="room_content" resultType="kr.co.hotel.room.RoomVO">
		select r.*, rd.code, rd.rtype, rd.rtxt from room r inner join rdae rd on rd.code=substring(r.rcode,2,2) where code=#{param1}
	</select>
 
	<select id="get_room" resultType="kr.co.hotel.room.RoomVO">
		select * from room where rcode=#{param1}
	</select>

	<select id="getRoom" resultType="kr.co.hotel.room.RoomVO">
		select rname,rsu from room;
	</select>

	
	
	
</mapper>